    <!-- Main Footer -->
<footer class="main-footer border-top footer text-muted">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        AJOM
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2024 <a href="https://utt.edu.mx">Universidad Tecnologica de Torreon</a>.</strong> All
    rights reserved.
</footer>